/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    display: flex;
}

#barraLateral {
    width: 20%;
    background-color: cadetblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    background-color: rgb(244, 250, 250);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 100%;
    object-fit: cover;
}

#menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; /* Aumenta la separación entre los botones */
    padding: 20px 10px; /* Aumenta el padding alrededor de los botones */
}

.menu-button {
    padding: 12px 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #165bb7;
}

.menu-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.5);
}

#logout {
    background-color: cadetblue;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button {
    padding: 12px 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #7d7d7e;
}